ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



.logout {
	 background-color: red;
}

.active {
    background-color: #4CAF50;
}


/*homepage user profile css*/

              input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
	 
#friendsSection{
	margin-right: 10px;
}

.likeLinks td>a:hover{
	background-color: yellow;
	
}


/*za stolove*/


div.square {
  height: 40px;
  width: 40px;
  background: tomato;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  margin-left: -4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
}


div.square:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: rgba(200, 200, 200, 0.6);
  transition: all 0.4s;
}
div.square:hover:before {
  background: rgba(200, 200, 200, 0);
}


