<div ng-cloak ng-controller="adminController">

	<ul>
		<li style="float: right"><a class="logout"
			ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
		<li style="float: right"><a class="active" href>{{email}}</a></li>
		<li style="float: right"><a class="active"
			ng-click="showRestaurants()" href>Restaurants</a></li>
		<li style="float: right"><a class="active"
			ng-click="showAdmins()" href>Administrators</a></li>
	</ul>

	<div class="container" ng-show="adminsShow" ng-hide="restaurantsShow">
		<h1>
			<i class="fa fa-shopping-cart"></i> System Overview<small> -
				Click on Manager to modify</small> <input id="mealIdInfo" type="hidden" />
		</h1>
		<hr>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Supreme status</th>
					<th>Password</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="openModal(admin)" ng-repeat="admin in admins"
					class="rmMenuModal">
					<td>{{admin.email}}</td>
					<td>{{admin.name}}</td>
					<td>{{admin.surname}}</td>
					<td>{{admin.supreme}}</td>
					<td>{{admin.password}}</td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="removeAdmin(admin)">Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" ng-click="openCreateModal()"
			class="btn btn-default pulled-left"
			value="Add assistent administrator" />
	</div>
	<md-dialog class="modal" id="myModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Admin Info<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<h4>Name</h4>
					<input type="text" required="required" ng-model="currentAdmin.name">

					<h4>Surname</h4>
					<input type="text" required="required"
						ng-model="currentAdmin.surname">

					<h4>Password</h4>
					<input required="required" type="password"
						ng-model="currentAdmin.password">
					<div class="text-right pull-right col-md-3">
						<input type="submit" class="btn btn-default pull-right"
							ng-click="modifyAdmin($event, currentAdmin)" value="Modify" />
					</div>
				</form>
			</div>
		</div>
	</div>
	</md-dialog>

	<md-dialog class="modal" id="createModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Admin Info<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<h4>Email</h4>
					<input type="text" required="required" ng-model="c.email">

					<h4>Name</h4>
					<input type="text" required="required" ng-model="c.name">

					<h4>Surname</h4>
					<input type="text" required="required" ng-model="c.surname">

					<h4>Password</h4>
					<input required="required" type="password" ng-model="c.password">
					<div class="text-right pull-right col-md-3">
						<input type="submit" class="btn btn-default pull-right"
							ng-click="addAdmin(c)" value="Add admin" />
					</div>
				</form>
			</div>
		</div>
	</div>
	</md-dialog>


	<md-dialog class="modal" id="createModalRest" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Create Restaurant<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<h4>Name</h4>
					<input required="required" type="text"
						ng-model="tempRestaurant.name">

					<h4>Description</h4>
					<textarea required="required" type="text"
						ng-model="tempRestaurant.description"> </textarea>
					<input class="btn btn-default pulled-right" type="submit"
						ng-click="addRestaurant(tempRestaurant)" value="Create restaurant" />
				</form>
			</div>
		</div>
	</div>
	</md-dialog>


	<div class="container" ng-show="restaurantsShow" ng-hide="adminsShow">
		<h1>
			<i class="fa fa-shopping-cart"></i> Restaurants Overview <small>
				- Restaurants Available</small> <input id="mealIdInfo" type="hidden" />
		</h1>
		<hr>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="restaurant in restaurants" class="rmMenuModal">
					<td>{{restaurant.name}}</td>
					<td>{{restaurant.description}}</td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="openViewManagers(restaurant)">Remove
							manager</button></td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="openAddMan(restaurant)">Add
							manager</button></td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="removeRestaurant(restaurant)">Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="button" ng-click="openCreateRestaurantModal()"
			class="btn btn-default pulled-left" value="Add restaurant" />
	</div>

	<md-dialog class="modal" id="createModalMan" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Admin Info<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<h4>Email</h4>
					<input type="email" required="required" ng-model="man.email">

					<h4>Name</h4>
					<input type="text" required="required" ng-model="man.name">

					<h4>Surname</h4>
					<input type="text" required="required" ng-model="man.surname">

					<h4>Password</h4>
					<input required="required" type="password" ng-model="man.password">
					<div class="text-right pull-right col-md-3">
						<input type="submit" class="btn btn-default pull-right"
							ng-click="addMan(man)" value="Add admin" />
					</div>
				</form>
			</div>
		</div>
	</div>
	</md-dialog>


	<md-dialog class="modal" id="viewManagersModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Managers<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<table class="table table-hover">
					<tr ng-repeat="ma in managers" class="rmMenuModal">
						<td>{{ma.email}}</td>
						<td>{{ma.name}}</td>
						<td>{{ma.surname}}</td>
						<td>{{restaurant.id}}</td>
						<td><button id="buttonCancelName" name="buttonCancelName"
								class="btn btn-default" ng-click="removeManager(ma)">Remove</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</md-dialog>
</div>