<div ng-cloak ng-controller="bartenderController">

<ul>
  <li><a href="#/bprofile">My profile</a></li>
  <li><a href="#/bschedule">Schedule</a></li>
  <li><a href="#/borders">Orders</a></li> 
  <li style="float:right"><a class="logout" ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
  <li style="float:right"><a class="active" href="#">{{email}}</a></li>
</ul>



<div class="cnt">

<div hidden id="firstTimeChange" class="ftc">
	You've logged in for the first time. Change password:
	<input ng-model="bartPassword" type="password" name="bartPW" id="bartPW" placeholder="Password">
	<button ng-click="bartFTChangePWFun()" type="submit" name="bartFTChange" id="bartFTChange" >Confirm </button>
</div>

</div>


<div id="bprofil">

<div class="container">
	<div class="row">
 		<div class="col-md-5 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Bartender Profile</h4></div>
   <div class="panel-body">
       
    <div id="info-form"class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="Bartender Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                
                <input id="profile-image-upload" class="hidden" type="file">
<div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->

                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{name}} {{surname}}</h4>
              <span><p>Bartender</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
  

              
<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div id="name"  class="col-sm-7 col-xs-6 "></div>
     <div class="clearfix"></div>
	<div class="bot-border"></div>



<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div id="surname"  class="col-sm-7"></div>
  <div class="clearfix"></div>
  <div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Email</div><div id="email"  class="col-sm-7"></div>

  <div class="clearfix"></div>
  <div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Password</div><div id="sifra"  class="col-sm-7"></div>

   <div class="clearfix"></div>
   <div class="bot-border"></div>


<div  class="col-sm-5 col-xs-6 tital " ></div><div  id="btnDiv" class="col-sm-7"><button id="changeInfoBtn" type="button" class="btn btn-primary btn-xs" ng-click="ChangeInfoFun()">Change info</button></div>

   <div class="clearfix"></div>
<div class="bot-border"></div>
            
    </div> 
    </div>
</div>  
</div>  
</div>  

</div>

</div></div>



</div>