<div ng-cloak ng-controller="friendsController">

<ul>
	<li><a href="#/home" ng-click="HomeMnu()">Home</a></li>
  <li><a href="#/homepage" ng-click="PrifileMnu()">My Profile</a></li>
  <li><a href="#/restaurants" ng-click="RestaurantsMnu()">Restaurants</a></li>
  <li><a href="#/friends" ng-click="FriendsMnu()">Friends</a></li> 
  <li style="float:right"><a class="logout" ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
  <li style="float:right"><a class="active" href="#">{{email}}</a></li>
</ul>



</div>