<div ng-cloak ng-controller="restmanagerController">

	<ul>
		<li><a href="#restmanager">Home</a></li>
		<li style="float: right"><a class="logout"
			ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
		<li style="float: right"><a class="active" href
			ng-click="showRestmanagerRestaurant()">{{info.restaurant.name}}</a></li>
		<li style="float: right"><a class="active" href
			ng-click="showRestmanagerProfile()">{{info.name}}</a></li>
	</ul>

	<!-- Restaurant Manager Profile -->
	
	<div class="container" ng-show="restmanagerProfile"
		ng-hide="restmanagerRestaurant">
		<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
		<div class="row">
			<div class="col-md-5  toppad  pull-right col-md-offset-3 "></div>
			<div
				class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-1 toppad">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Profile Overview</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class=" col-md-12 col-lg-12 ">
								<table class="table table-user-information">
									<tbody>
										<tr>
											<td colspan="3" class="table-headlines">Basic info</td>
										</tr>
										<tr>
											<td>Name</td>
											<td>{{info.name}}</td>
											<td><a href ng-click="refreshName()">Edit</a></td>
										</tr>
										<tr ng-show="editName">
											<td colspan="3">
												<div class=" col-md-9 col-lg-9 " id="divEditName">
													<form class="form-horizontal">
														<fieldset>
															<div class="control-group">
																<label class="control-label" for="editName">New
																	name</label>
																<div class="controls">
																	<input id="editName" name="editName" type="text"
																		placeholder="" class="input-xlarge" required=""
																		ng-model="infoEditing.name">
																</div>
															</div>
															<!-- Button (Double) -->
															<div class="control-group">
																<label class="control-label" for="buttonSaveName"></label>
																<div class="row">
																	<button id="buttonSaveName" name="buttonSaveName"
																		class="btn btn-primary" ng-click="saveName()">Save</button>
																	<button id="buttonCancelName" name="buttonCancelName"
																		class="btn btn-default" ng-click="refreshName()">Cancel</button>
																</div>
															</div>
														</fieldset>
													</form>

												</div>
											</td>
										</tr>
										<tr>
											<td>Surname:</td>
											<td>{{info.surname}}</td>
											<td><a href ng-click="refreshSurname()">Edit</a></td>
										</tr>
										<tr ng-show="editSurname">
											<td colspan="3">
												<div class=" col-md-9 col-lg-9 " id="divEditSurname">
													<form class="form-horizontal">
														<fieldset>
															<div class="control-group">
																<label class="control-label" for="editSurname">New
																	surname</label>
																<div class="controls">
																	<input id="editSurname" name="surname" type="text"
																		placeholder="" class="input-xlarge" required=""
																		ng-model="infoEditing.surname">
																</div>
															</div>
															<!-- Button (Double) -->
															<div class="control-group">
																<label class="control-label" for="buttonSaveSurname"></label>
																<div class="row">
																	<button id="buttonSaveSurname" name="buttonSaveSurname"
																		class="btn btn-primary" ng-click="saveSurname()">Save</button>
																	<button id="buttonCancelSurname"
																		name="buttonCancelSurname" class="btn btn-default"
																		ng-click="refreshSurname()">Cancel</button>
																</div>
															</div>
														</fieldset>
													</form>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="3"><a href ng-click="applyProfileChanges()"
												class="btn btn-primary">Apply Changes</a> <a href="#"
												class="btn btn-primary">Undo Changes</a></td>
										</tr>
										<tr>
											<td colspan="3" class="table-headlines">Security
												settings</td>
										</tr>
										<tr>
											<td>Password:</td>
											<td>Hidden Propery</td>
											<td><a href ng-click="editPassword = !editPassword">Edit</a></td>
										</tr>
										<tr ng-show="editPassword">
											<td colspan="3">
												<div class=" col-md-9 col-lg-9 " id="divEditSurname">
													<form class="form-horizontal" name="passwordForm">
														<fieldset>
															<div class="control-group">
																<label class="control-label" for="editPassword">Old
																	password</label>
																<div class="controls">
																	<input id="editPassword" name="password"
																		type="password" placeholder="" class="input-xlarge"
																		required="" ng-model="pass.op">
																</div>
																</br> <label class="control-label" for="editPasswordNew">New
																	password</label>
																<div class="controls">
																	<input id="editPasswordNew" name="passwordNew"
																		type="password" placeholder="" required=""
																		ng-model="pass.np" ng-minlength="8" />
																	<div ng-messages="passwordForm.passwordNew.$error">
																		<p ng-message="minlength">Minimum 8 characters</p>
																	</div>
																</div>

																<label class="control-label"
																	for="editPasswordNewConfirm">Confirm password</label>
																<div class="controls">
																	<input id="editPasswordNewConfirm"
																		name="passwordNewConfirm" type="password"
																		placeholder="" class="input-xlarge" required=""
																		ng-model="pass.cp" ng-minlength="8" />
																</div>

															</div>
															<div class="control-group">
																<label class="control-label" for="buttonSavePassword"></label>
																<div class="row">
																	<button id="buttonSavePassword"
																		name="buttonSavePassword" class="btn btn-primary"
																		ng-click="changePassword()" ng-disabled="clear()">Confirm
																		change</button>
																</div>
																<p ng-show="changeStatus == 1"
																	ng-hide="changeStatus != 1">Successfull change!</p>
																<p ng-show="changeStatus == 2"
																	ng-hide="changeStatus != 2">Previous password is
																	invalid!</p>
																<p ng-show="changeStatus == 3"
																	ng-hide="changeStatus != 3">New password and
																	confirmation don't match!</p>
																<p ng-show="changeStatus == 4"
																	ng-hide="changeStatus != 4">Password is minimum 8
																	characters!</p>
															</div>
														</fieldset>
													</form>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 
					<div class="panel-footer">
						<a data-original-title="Broadcast Message" data-toggle="tooltip"
							type="button" class="btn btn-sm btn-primary"><i
							class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
					</div>
					 -->
				</div>
			</div>
		</div>
	</div>

	<!-- End Part -->


	<!-- Restaurant Manager Restaurant Basic Info And Structure -->

	<div class="container" ng-show="restmanagerRestaurant"
		ng-hide="restmanagerProfile">

		<!-- Restaurant Manager Restaurant Basic Info -->

		<div class="container">
			<div class="row">
				<div class="col-md-5  toppad  col-md-offset-3 "></div>
				<div
					class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Restaurant Overview</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class=" col-md-12 col-lg-12 ">
									<table class="table table-user-information">
										<tbody>
											<tr>
												<td>Restaurant Name</td>
												<td>{{info.restaurant.name}}</td>
												<td><a href ng-click="refreshRestaurantName()">Edit</a></td>
											</tr>
											<tr ng-show="editRestaurantName">
												<td>
													<div class=" col-md-9 col-lg-9 " id="divEditRestaurantName">
														<form class="form-horizontal">
															<fieldset>
																<div class="control-group">
																	<label class="control-label" for="editRestaurantName">New
																		Name</label>
																	<div class="controls">
																		<input id="editRestaurantName"
																			name="editRestaurantName" type="text" placeholder=""
																			class="input-xlarge" required=""
																			ng-model="infoEditing.restaurant.name">
																	</div>
																</div>
																<!-- Button (Double) -->
																<div class="control-group">
																	<label class="control-label" for="buttonSaveName"></label>
																	<div class="row">
																		<button id="buttonSaveRestaurantName"
																			name="buttonSaveRestaurantName"
																			class="btn btn-primary"
																			ng-click="saveRestaurantName()">Save</button>
																		<button id="buttonCancelRestaurantName"
																			name="buttonCancelRestaurantName"
																			class="btn btn-default"
																			ng-click="refreshRestaurantName()">Cancel</button>
																	</div>
																</div>
															</fieldset>
														</form>

													</div>
												</td>
											</tr>
											<tr>
												<td>Restaurant Description:</td>
												<td>{{info.restaurant.description}}</td>
												<td><a href ng-click="refreshRestaurantDescription()">Edit</a></td>
											</tr>
											<tr ng-show="editRestaurantDescription">
												<td>
													<div class=" col-md-9 col-lg-9 "
														id="divEditRestaurantDescription">
														<form class="form-horizontal">
															<fieldset>
																<div class="control-group">
																	<label class="control-label"
																		for="editRestaurantDescription">New
																		Description</label>
																	<div class="controls">
																		<textarea rows="5" cols="50"
																			id="editRestaurantDescription"
																			name="editRestaurantDescription" type="text"
																			placeholder="" class="input-xlarge" required=""
																			ng-model="infoEditing.restaurant.description"></textarea>
																	</div>
																</div>
																<!-- Button (Double) -->
																<div class="control-group">
																	<label class="control-label"
																		for="buttonSaveRestaurantDescription"></label>
																	<div class="row">
																		<button id="buttonSaveRestaurantDescription"
																			name="buttonSaveRestaurantDescription"
																			class="btn btn-primary"
																			ng-click="saveRestaurantDescription()">Save</button>
																		<button id="buttonCancelRestaurantDescription"
																			name="buttonCancelRestaurantDescription"
																			class="btn btn-default"
																			ng-click="refreshRestaurantDescription()">Cancel</button>
																	</div>
																</div>
															</fieldset>
														</form>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<p>
										<a href ng-click="applyRestaurantProfileChanges()"
											class="btn btn-primary">Apply Changes</a>
									</p>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a data-original-title="Broadcast Message" data-toggle="tooltip"
								type="button" class="btn btn-sm btn-primary"><i
								class="glyphicon glyphicon-envelope"></i></a>
							<!-- 
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                         -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- End Part -->

		<!-- Restaurant Manager Restaurant Structure -->

		<div class="container" ng-show="restmanagerRestaurant">
			<div class="row">
				<h1 class="text-center">Restaurant Components And Structure</h1>
			</div>
			<div class="col pull-right col-md-offset-2"
				style="text-align: center">
				<div class="col-sm-2">
					<div class="card">
						<canvas class="header-bg" width="250" height="20" id="header-blur"></canvas>
						<div class="avatar">
							<img src="images/drinkcard.jpg" height="100" width="100" alt="" />
						</div>
						<div class="content">
							<p>
								<b>Drink Cards</b><br> Change the structure of the Drink
								Cards
							</p>
							<p>
								<button type="button" class="btn btn-default"
									ng-click="showDrinkCards()">Show</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="card">
						<canvas class="header-bg" width="250" height="20" id="header-blur"></canvas>
						<div class="avatar">
							<img src="/images/foodmenu.jpg" alt="" height="100" widht="100" />
						</div>
						<div class="content">
							<p>
								<b>Food Menus</b><br> Change the structure of the Food
								Menus
							</p>
							<p>
								<button type="button" class="btn btn-default"
									ng-click="showMenus()">Show</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="card">
						<canvas class="header-bg" width="250" height="20" id="header-blur"></canvas>
						<div class="avatar">
							<img src="images/staff.jpg" height="100" widht="100" alt="" />
						</div>
						<div class="content">
							<p>
								<b>Staff</b><br> Change the structure of the Staff
							</p>
							<p>
								<a href="#restmanager/staff" type="button" class="btn btn-default">Update</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="card">
						<canvas class="header-bg" width="250" height="20" id="header-blur"></canvas>
						<div class="avatar">
							<img src="images/tableConfiguration.jpg" height="100" widht="100"
								alt="" />
						</div>
						<div class="content">
							<p>
								<b>Table Configuration</b><br> Change the Table
								Configuration
							</p>
							<p>
								<a href="#restmanager/tables" type="button" class="btn btn-default">Update</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="card">
						<canvas class="header-bg" width="250" height="20" id="header-blur"></canvas>
						<div class="avatar">
							<img src="images/report.jpg" height="100" widht="100" alt="" />
						</div>
						<div class="content">
							<p>
								<b>Reports</b><br> Access annual, weekly and daily status.
							</p>
							<p>
								<a href="#restmanager/reports" type="button" class="btn btn-default">Show</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- End Part -->

		<div class="container bg">
			<div class="row" ng-repeat="i in rangeMenus" ng-show="editMenus"
				ng-hide="!editMenus">
				<div class="rwrapper">
					<div class="rlisting">
						<div class="col-sm-2 nopad">
							<div class="rmhovereffect">
								<img src="images/foodmenu.jpg" height="170px" width="180px">
								<div class="rmoverlay">
									<a class="info" href="#restmanager/menus/{{menus[i].id}}">Update</a>
								</div>
							</div>
						</div>
						<div class="col-sm-12 nopad">
							<h3>Menu {{menus[i].id}}</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="container bg">
				<div class="row" ng-repeat="i in rangeDrinkCards"
					ng-show="editDrinkCards" ng-hide="!editDrinkCards">
					<div class="rwrapper">
						<div class="rlisting">
							<div class="col-sm-2 nopad">
								<div class="rmhovereffect">
									<img src="images/drinkCard.jpg" height="170px" width="180px">
									<div class="rmoverlay">
										<a class="info" href="#restmanager/cards/{{drinkCards[i].id}}">Update</a>
									</div>
								</div>
							</div>
							<div class="col-sm-12 nopad">
								<h3>Card {{drinkCards[i].id}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Part -->
</div>



