<div ng-cloak ng-controller="restmanager_tablesController">

	<ul>
		<li><a href="#home">Home</a></li>
		<li style="float: right"><a class="logout"
			ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
		<li style="float: right"><a class="active" href="#restmanager">Homepage</a></li>
	</ul>
	<div class="container">
		<h1>
			<i class="fa fa-shopping-cart"></i> Tables Overview <small> -
				click on a meal for details</small> <input id="mealIdInfo" type="hidden" />
		</h1>
		<canvas id="canvas" width="1000" height="400"
			stype="border:1px solid #000000">
		</canvas>
		<hr>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Tables</th>
				</tr>
				<tr>
					<th>Restaurant Segment</th>
					<th>Type</th>
					<th>Currently reserved</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="openModal(table)" ng-repeat="table in tables"
					class="rmMenuModal">
					<td>{{table.restaurantSegment.name}}</td>
					<td>{{table.restaurantSegment.typeOf}}</td>
					<td>{{table.currentlyReserved}}</td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="removeTable($event, table)">Remove</button>
					</td>
				</tr>
				<tr>
					<td><select ng-model="table.segment"
						ng-options="i.name for i in segments">
					</select></td>
					<td>Predefined</td>
					<td>Can't be defined!</td>
					<td><button id="buttonCancelName" name="buttonAddMeal"
							class="btn btn-default" ng-click="addTable()">Add</button></td>
				</tr>
				<tr>

				</tr>
			</tbody>
		</table>
	</div>

	<md-dialog class="modal" id="myModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Table Info<strong></strong>
				</h4>
			</div>
			<div class="modal-body">

				<div class="clearfix"></div>
				<h4>Restaurant segment</h4>
				<select ng-model="currentTable.restaurantSegment"
					ng-options="i.name for i in segments">
				</select>
				<div class="clearfix"></div>
				<h4>Type</h4>
			</div>
			<div class="modal-footer">
				<div class="text-right pull-right col-md-3">
					<button id="buttonCancelName" name="buttonCancelName"
						class="btn btn-default"
						ng-click="modifyTable($event, currentTable)">Modify</button>
				</div>

			</div>
		</div>
	</div>
	</md-dialog>


	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Segments</th>
				</tr>
				<tr>
					<th>Name</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="openModalSegment(segment)"
					ng-repeat="segment in segments" class="rmMenuModal">
					<td>{{segment.name}}</td>
					<td>{{segment.typeOf}}</td>
					<td></td>
					<td><button id="buttonCancelName" name="buttonCancelName"
							class="btn btn-default" ng-click="removeSegment($event, segment)">Remove</button>
					</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="tempSeg.name"></td>
					<td><select ng-model="tempSeg.typeOf">
							<option>SMOKING</option>
							<option>NO_SMOKING</option>
					</select></td>
					<td></td>
					<td><button id="buttonCancelName" name="buttonAddMeal"
							class="btn btn-default" ng-click="addSegment()">Add</button></td>
				</tr>
				<tr>

				</tr>
			</tbody>
		</table>
	</div>
	<md-dialog class="modal" id="myModalSegment" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Segment Info<strong></strong>
				</h4>
			</div>
			<div class="modal-body">

				<div class="clearfix"></div>
				<h4>Restaurant segment</h4>
				<input type="text" ng-model="currentSegment.name"> <select ng-model="currentSegment.typeOf">
					<option>SMOKING</option>
					<option>NO_SMOKING</option>
				</select>
			</div>
			<div class="modal-footer">
				<div class="text-right pull-right col-md-3">
					<button id="buttonCancelName" name="buttonCancelName"
						class="btn btn-default"
						ng-click="modifySegment($event, currentSegment)">Modify</button>
				</div>

			</div>
		</div>
	</div>
	 </md-dialog>
</div>