<div ng-cloak ng-controller="restmanager_staffController">

	<ul>
		<li style="float: right"><a class="logout"
			ng-click="OdjavaFunc()" href="#">LOGOUT</a></li>
		<li style="float: right"><a class="active" href="#restmanager">Homepage</a></li>
		<li style="float: right"><a class="active" href
			ng-click="showEmp()">Profiles</a></li>
		<li style="float: right"><a class="active" href
			ng-click="showCal()">Calendar</a></li>
	</ul>

	<div class="container" ng-show="showEmployeesFC"
		ng-hide="!showEmployeesFC">
		<div class="row">
			<h1 class="text-center">Employees</h1>
		</div>
		<div class="row">
			<ul>
				<li><a class="btn btn-lg" href ng-click="addCook()"> <i></i><span>Add
							cook<br> <small>Create a new profile</small>
					</span>
				</a></li>
				<li><a class="btn btn-lg" href ng-click="addWaiter()"> <i></i><span>Add
							waiter<br> <small>Create a new profile</small>
					</span>
				</a></li>
				<li><a class="btn btn-lg" href ng-click="addBartender()"> <i></i><span>Add
							bartender<br> <small>Create a new profile</small>
					</span>
				</a></li>
			</ul>
		</div>

		<div class="row">
			<h3>
				<b>Waiters</b>
			</h3>
			<ul class="thumbnails list-unstyled">
				<li class="col-md-2" ng-repeat="w in waiters">
					<div class="thumbnail" style="padding: 0">
						<div style="padding: 4px">
							<img alt="70x70" style="width: 100%"
								src="http://placehold.it/200x150">
						</div>
						<div class="caption">
							<h5>
								<b>{{w.name}} {{w.surname}}</b>
							</h5>
							<p>{{w.email}}</p>
						</div>
						<div class="modal-footer" style="text-align: left">
							<div class="row">
								<div class="col-md-4">
									<b>{{w.shoeSize}}</b><br /> <small>Shoe Size</small>
								</div>
								<div class="col-md-4">
									<b>{{w.wearSize}}</b><br /> <small>Wear Size</small>
								</div>
								<div class="col-md-5">
									<b>{{w.birthDate | date:'dd/MM/yyyy'}}</b><br /> <small>Birth
										Date</small>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<b>{{w.workingHours}}</b><br /> <small>Working hours</small>
							</div>
							<div class="col-md-5">
								<b>{{w.shift}}</b><br /> <small>Current shift</small>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<button id="buttonCancelName" name="buttonCancelName"
									class="btn btn-default" ng-click="openWaiter(w)">Focus</button>
							</div>
							<div class="col-md-6">
								<button id="buttonCancelName" name="buttonCancelName"
									class="btn btn-default" ng-click="removeWorker(w)">Remove</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<md-dialog class="modal" id="myModalWaiter" tabindex="-1"
				aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<i class="text-danger fa fa-times"></i>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="text-muted fa fa-shopping-cart"></i>Waiter Info<strong></strong>
						</h4>
					</div>
					<div class="modal-body">

						<div class="clearfix"></div>
						<h4>Name</h4>
						<p ng-bind="currentWaiter.name"></p>

						<h4>Surname</h4>
						<p ng-bind="currentWaiter.surname"></p>

						<h4>Shoe size</h4>
						<p ng-bind="currentWaiter.shoeSize"></p>

						<h4>Wear size</h4>
						<p ng-bind="currentWaiter.wearSize"></p>

						<h4>Birth date</h4>
						<p ng-bind="currentWaiter.birthDate | date:'dd/MM/yyyy'"></p>


					</div>
				</div>
			</div>
			</md-dialog>
		</div>
		<div class="row">
			<h3>
				<b>Bartenders</b>
			</h3>
			<ul class="thumbnails list-unstyled">
				<li class="col-md-2" ng-repeat="b in bartenders">
					<div class="thumbnail" style="padding: 0">
						<div style="padding: 4px">
							<img alt="70x70" style="width: 100%"
								src="http://placehold.it/200x150">
						</div>
						<div class="caption">
							<h4>
								<b>{{b.name}} {{b.surname}}</b>
							</h4>
							<p>{{b.email}}</p>
						</div>
						<div class="modal-footer" style="text-align: left">
							<div class="row">
								<div class="col-md-4">
									<b>{{b.shoeSize}}</b><br /> <small>Shoe size</small>
								</div>
								<div class="col-md-4">
									<b>{{b.wearSize}}</b><br /> <small>Wear size</small>
								</div>
								<div class="col-md-5">
									<b>{{b.birthDate | date:'dd/MM/yyyy'}}</b><br /> <small>Birth
										Date</small>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<b>{{b.workingHours}}</b><br /> <small>Working hours</small>
								</div>
								<div class="col-md-5">
									<b>{{b.shift}}</b><br /> <small>Current shift</small>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<button id="buttonCancelName" name="buttonCancelName"
										class="btn btn-default" ng-click="openBartender(b)">Focus</button>
								</div>
								<div class="col-md-5">
									<button id="buttonCancelName" name="buttonCancelName"
										class="btn btn-default" ng-click="removeWorker(b)">Remove</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<md-dialog class="modal" id="myModalBartender" tabindex="-1"
				aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<i class="text-danger fa fa-times"></i>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="text-muted fa fa-shopping-cart"></i>Bartender Info<strong></strong>
						</h4>
					</div>
					<div class="modal-body">

						<div class="clearfix"></div>
						<h4>Name</h4>
						<p ng-bind="currentBartender.name"></p>

						<h4>Surname</h4>
						<p ng-bind="currentBartender.surname"></p>

						<h4>Email</h4>
						<p ng-bind="currentBartender.email"></p>

						<h4>Shoe size</h4>
						<p ng-bind="currentBartender.shoeSize"></p>

						<h4>Wear size</h4>
						<p ng-bind="currentBartender.wearSize"></p>

						<h4>Birth date</h4>
						<p ng-bind="currentBartender.birthDate | date:'dd/MM/yyyy'"></p>
					</div>

				</div>
			</div>
			</md-dialog>
		</div>
		<div class="row">
			<h3>
				<b>Cooks</b>
			</h3>
			<ul class="thumbnails list-unstyled">
				<li class="col-md-2" ng-repeat="c in cooks"">
					<div class="thumbnail" style="padding: 0">
						<div style="padding: 4px">
							<img alt="70x70" style="width: 100%"
								src="http://placehold.it/200x150">
						</div>
						<div class="caption">
							<h4>
								<b>{{c.name}} {{c.surname}}</b>
							</h4>
							<p>{{c.email}}</p>
							<p>{{c.uloga}}</p>
						</div>
						<div class="modal-footer" style="text-align: left">
							<div class="row">
								<div class="col-md-4">
									<b>{{c.shoeSize}}</b><br /> <small>Shoe size</small>
								</div>
								<div class="col-md-4">
									<b>{{c.wearSize}}</b><br /> <small>Wear size</small>
								</div>
								<div class="col-md-5">
									<b>{{c.birthDate | date:'dd/MM/yyyy'}}</b><br /> <small>Birth
										Date</small>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<b>{{c.workingHours}}</b><br /> <small>Working hours</small>
								</div>
								<div class="col-md-4">
									<b>{{c.shift}}</b><br /> <small>Current shift</small>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<button id="buttonCancelName" name="buttonCancelName"
										class="btn btn-default" ng-click="openCook(c)">Focus</button>
								</div>
								<div class="col-md-5">
									<button id="buttonCancelName" name="buttonCancelName"
										class="btn btn-default" ng-click="removeWorker(c)">Remove</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<md-dialog class="modal" id="myModalCook" tabindex="-1"
				aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<i class="text-danger fa fa-times"></i>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<i class="text-muted fa fa-shopping-cart"></i>Cook Info<strong></strong>
						</h4>
					</div>
					<div class="modal-body">
						<h4>Name</h4>
						<h5 ng-bind="currentCook.name"></h5>

						<h4>Surname</h4>
						<p ng-bind="currentCook.surname"></p>

						<h4>Password</h4>
						<p ng-bind="currentCook.password"></p>

						<h4>Shoe size</h4>
						<p ng-bind="currentCook.shoeSize"></p>

						<h4>Wear size</h4>
						<p ng-bind="currentCook.wearSize"></p>

						<h4>Birth date</h4>
						<p ng-bind="currentCook.birthDate | date:'dd/MM/yyyy'"></p>

						<h4>Cook type</h4>
						<p ng-bind="currentCook.type"></p>

					</div>
				</div>
			</div>
			</md-dialog>
		</div>
	</div>


	<md-dialog class="modal" id="modalCreateBartender" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Create bartender<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix"></div>
				<form validate class="simple-form">
					<h4>Name</h4>
					<input required="required" type="text"
						ng-model="tempBartender.name">

					<h4>Surname</h4>
					<input required="required" type="text"
						ng-model="tempBartender.surname">

					<h4>Email</h4>
					<input required="required" type="text"
						ng-model="tempBartender.email">

					<h4>Password</h4>
					<input required="required" type="password"
						ng-model="tempBartender.password">

					<h4>Shoe size</h4>
					<input required="required" type="number"
						ng-model="tempBartender.shoeSize">

					<h4>Wear size</h4>
					<input required="required" type="number"
						ng-model="tempBartender.wearSize">

					<h4>Birth date</h4>
					<input required="required" type="date"
						ng-model="tempBartender.birthDate"> <input
						class="btn btn-default pull-right" type="submit"
						ng-click="createB(tempBartender)" value="Create" />
				</form>
			</div>
		</div>
	</div>
	</md-dialog>

	<md-dialog class="modal" id="modalCreateCook" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Create cook<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<h4>Name</h4>
					<input required="required" type="text" ng-model="tempCook.name">

					<h4>Surname</h4>
					<input required="required" type="text" ng-model="tempCook.surname">

					<h4>Email</h4>
					<input required="required" type="email"
						ng-model="tempCook.email">

					<h4>Password</h4>
					<input required="required" type="password"
						ng-model="tempCook.password">

					<h4>Shoe size</h4>
					<input required="required" type="number"
						ng-model="tempCook.shoeSize">

					<h4>Wear size</h4>
					<input required="required" type="number"
						ng-model="tempCook.wearSize">

					<h4>Birth date</h4>
					<input required="required" type="date"
						ng-model="tempCook.birthDate">

					<h4>Type</h4>
					<input required="required" type="number"
						ng-model="tempCook.typeC">

					<input class="btn btn-default pull-right" type="submit"
						ng-click="createC(tempCook)" value="Create" />
				</form>
			</div>
		</div>
	</div>
	</md-dialog>

	<md-dialog class="modal" id="modalCreateWaiter" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>Create waiter<strong></strong>
				</h4>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<div class="clearfix"></div>
					<h4>Name</h4>
					<input required="required" type="text" ng-model="tempWaiter.name">

					<h4>Surname</h4>
					<input required="required" type="text"
						ng-model="tempWaiter.surname">

					<h4>Email</h4>
					<input required="required" type="email" ng-model="tempWaiter.email">

					<h4>Password</h4>
					<input required="required" type="password"
						ng-model="tempWaiter.password">

					<h4>Shoe size</h4>
					<input required="required" type="number"
						ng-model="tempWaiter.shoeSize">

					<h4>Wear size</h4>
					<input required="required" type="number"
						ng-model="tempWaiter.wearSize">

					<h4>Birth date</h4>
					<input required="required" type="date"
						ng-model="tempWaiter.birthDate"> <input
						class="btn btn-default pull-right" type="submit"
						ng-click="createW(tempWaiter)" value="Create" />
				</form>
			</div>
		</div>
	</div>
	</md-dialog>


	<div class="container" ng-show="showCalendarFC"
		ng-hide="!showCalendarFC">
		<h2>Schedule</h2>
		<button class="btn btn-default pull-right" ng-click="dailyView()">Day</button>
		<button class="btn btn-default pull-right" ng-click="weeklyView()">Weekly</button>
		<button class="btn btn-default pull-right" ng-click="monthlyView()">Month</button>
		<div id='calendar'></div>

		<div>
			<form validate class="simple-form" ng-submit="addSchedule(currentSchedule, option, o)">
				<p>Unesite vreme od</p>
				<input required="required" type="date"
					ng-model="currentSchedule.start">
				<p>Unesite vreme od</p>
				<input required="required" type="date"
					ng-model="currentSchedule.end"> <select>
					<option id="workerInfoAssign" ng-repeat="option in workersOptions"
						value="{{option.id}}">{{option.name}}</option>
				</select> <select required="required" ng-model="currentSchedule.shift">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
				
				<p>Restaurant segment</p>
				<select ng-model="segs" ng-options="o.name for o in segments"></select>
				 <input type="submit" value="assign" class="btn btn-defualt"
					 />
			</form>
		</div>
	</div>

	<md-dialog class="modal" id="workModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="text-danger fa fa-times"></i>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="text-muted fa fa-shopping-cart"></i>On duty<strong></strong>
				</h4>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Segment</th>
							<th>Start</th>
							<th>End</th>
							<th>Shift</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="w in onDuty" class="rmMenuModal">
							<td>{{w.worker.name}}</td>
							<td>{{w.worker.surname}}</td>
							<td>{{w.worker.email}}</td>
							<td>{{w.segment.name}}</td>
							<td>{{w.start}}</td>
							<td>{{w.end}}</td>
							<td>{{w.shift}}</td>
							<td><button id="buttonCancelName" name="buttonCancelName"
									class="btn btn-default" ng-click="removeSchedule($event, w)">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</md-dialog>
</div>