<div ng-cloak ng-controller="restaurantController">

<ul>
	<li><a href="#/home" >Home</a></li>
  <li><a href="#/homepage" >My Profile</a></li>
  <li><a href="#/restaurants" ng-click="refresh()">Restaurants</a></li>
  <li><a href="#/friends" >Friends</a></li> 
  <li style="float:right"><a class="logout" href="#">LOGOUT</a></li>
  <li style="float:right"><a class="active" href="#">{{email}}</a></li>
</ul>

<div class="container" >
    <div class="row" id="restSection">
    
    <div id="restaurantsTable" class="col-md-5">
  <h2>Restaurants reservation - Choose restaurant</h2>
  
  <table class="table" >
    <thead>
      <tr>
      
        <th>Name</th>
          <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="likeLinks"  ng-repeat="x in restaurants">
        <td data-rid="{{x.id}}" ng-click="firstStepReserve(x.id, x.name)"><a href="#" onclick="return false;"><b>{{x.name}}</b></a></td>
      	<td >{{x.description}}</td>

  </div>
      </tr>
   
    </tbody>
  </table>
  </div>
  

  
  <div hidden id="secondStep" class="col-md-5">
  	 <table class="table" >
    <thead>
 	<tr></tr>
    </thead>
    <tbody id="secondStepBody">
      <tr data-rid="{{toReserveId}}">
        <td>Restaurant</td>
      	<td><b>{{toReserveName}}</b></td>
	  </tr>
   
    </tbody>
  </table>
  </div>
  
   <div hidden id="thirdStep" class="col-md-5">
  	 <table class="table" >
    <thead>
 	<tr></tr>
    </thead>
    <tbody id="thirdStepBody">
      <tr data-rid="{{toReserveId}}">
        <td>Restaurant</td>
      	<td><b>{{toReserveName}}</b></td>
	  </tr>
	   <tr >
        <td>Date</td>
      	<td><b>{{dateres}}</b></td>
	  </tr>
	   <tr >
        <td>Hours</td>
      	<td><b>{{hours}}</b></td>
	  </tr>
   
    </tbody>
  </table>
  
    <div id="tablesContainer">
 
  
  </div>
  </div>
  
  
</div>
</div>


</div>

